@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  box-sizing: border-box;
}

body {
  line-height: 2rem;
  background-color: #f0f0f0;
}

h1 {
  font-size: xx-large;
}

h2 {
  font-size: x-large;
}

li,
p {
  font-weight: 300;
}
